@font-face {
  font-family: 'love';
  font-style: normal;
  src: url('/love.ttf') format('truetype');
}

.font-love {
  font-family: 'love', sans-serif;
  letter-spacing: 5px;
}

html {
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}